.page-search[data-v-e7645723]{background-color:var(--el--page--search--bg--);border-radius:10px;border:1px solid var(--el-border-color);padding:20px 20px 20px 0}.btns[data-v-e7645723]{text-align:right}
